html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  font-size: 10px;
  background: url(https://78.media.tumblr.com/05c2c2970f495f3fded80515de58638b/tumblr_oahujbxRsw1uqq8lso1_500.jpg);
}

.photobooth {
  background: url(https://78.media.tumblr.com/05c2c2970f495f3fded80515de58638b/tumblr_oahujbxRsw1uqq8lso1_500.jpg);
  max-width:150rem;
  margin: 2rem auto;
  border-radius:2px;
}

/*clearfix*/
.photobooth:after {
  content: '';
  display: block;
  clear: both;
}

.photo {
  width:100%;
  float:left;
}

.player {
  position: absolute;
  top:20px;
  right: 20px;
  width:200px;
}

.controls button {
  background-color: #f4425c;
  color: #fff;
}

.rgb label {
  color: #fff;
  font-size: 1.2em;
  background-color: #f4425c;
}

/*
  Strip!
*/

.strip {
  padding:2rem;
}
.strip img {
  width:100px;
  overflow-x: scroll;
  padding:0.8rem 0.8rem 2.5rem 0.8rem;
  box-shadow:0 0 3px rgba(0,0,0,0.2);
  background:#f44271;
}

.strip a:nth-child(5n+1) img { transform: rotate(10deg); }
.strip a:nth-child(5n+2) img { transform: rotate(-2deg); }
.strip a:nth-child(5n+3) img { transform: rotate(8deg); }
.strip a:nth-child(5n+4) img { transform: rotate(-11deg); }
.strip a:nth-child(5n+5) img { transform: rotate(12deg); }
