html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  min-height: 100vh;
  margin: 0; /* Important! */
  font-family: sans-serif;
  background: url(https://img00.deviantart.net/e275/i/2013/068/c/c/harry_potter_hogwarts_wallpaper_by_marcobarcelon-d5xgl4n.jpg);
  background-size: cover;
}

.wrapper {
  margin:0 auto;
  max-width:500px;
  font-size: 20px;
  color: #fff;
  line-height: 2;
  position: relative;
}

a {
  text-decoration: none;
  color: #fff;
  background:rgba(0,0,0,0.05);
  border-radius: 20px;
}

.highlight {
  transition: all 0.2s;
  position: absolute;
  top:0;
  background: rgba(255, 235, 56, 0.70);
  left:0;
  z-index: -1;
  border-radius:20px;
  display: block;
  box-shadow: 0 0 10px rgba(255, 235, 56, 0.99);
}

.menu {
  padding: 0;
  display: flex;
  list-style: none;
  justify-content: center;
  margin:100px 0;
}

.menu a {
  display: inline-block;
  padding:5px;
  margin:0 20px;
  color: #fff;
}
